
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 45px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1520257265113-0 {
            width: 100px;
            min-height: 20px;
            top: 13px;
            left: 31px;
        }
        
        .silex-id-1474394621033-3 {
            top: 85px;
            left: 5px;
            min-width: 1200px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 3660px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1520257411553-1 {
            width: 674px;
            min-height: 558px;
            top: 8px;
            left: 17px;
        }
        
        .silex-id-1478366450713-3 {
            top: 1307px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 20px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
    